{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenicated %}
    <p>Your account doens't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page<p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</div>
<div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</div>
</table>

<div>
    <input type="submit" value="login"/>
    <input type="hidden" name="next" value="{{ next }}" />
</div>

</form>

<p><a href="{% url 'password_reset' %}">Lost password?></a></p>

{% endblock %}
