{% extends "base.html" %}

{% block content %}

    {% if validlink %}
    <p>Please enter and confirm your new password.</p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_newpassword1">New password:</label></td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change my password"/></td>
            </tr>
        </table>
    </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid</p>
    {% endif %}
{% endblock %}

