<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Local Library</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %} 
                    <ul class="sidebar-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'books' %}">All books</a></li>
                        <li><a href="{% url 'authors' %}">All authors</a></li>
                        {% if user.is_authenticated %}
                            <li>User: {{ user.get_username }}</li>
                            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-10 ">
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
