{% extends "base.html" %}

{% block content %}
<h1>Local Library Home</h1>

<p>Welcome to <em>LocalLibrary</em>, a very basic Django website</p>

<h2>Dynamic Content</h2>

<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong>{{ num_books }}</li>
    <li><strong>Copies:</strong>{{ num_instances }}</li>
    <li><strong>Copies Available:</strong>{{ num_instances_available }}</li>
    <li><strong>Authors:</strong>{{ num_authors }}</li>
</ul>

<p>You have visisted this page {{ num_visits }} {% if num_visits == 1 %} time {% else %} times{% endif %}.</p>

{% endblock %}
