{% extends "base.html" %}

{% block content %}
<h1>Author: {{ author }}</h1>
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>  
  <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>  
  <!--<p><strong>Books:</strong> {% for books in book.author.pk.all %} {{ book.author }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  -->


  <div style="margin-left:20px;margin-top:20px">
   <h4>Books</h4>
   {% for book in object.book_set.all %}
   <p>{{ book.title }} </p>
   {% endfor %}
  </div>
{% endblock %}
